/****** Propriétés CSS globales ***********/

/* Couleurs utilisées */
:root {
  --Vert: hsl(75, 94%, 57%);
  --Blanc: hsl(0, 0%, 100%);
  --Gris700: hsl(0, 0%, 20%);
  --Gris800: hsl(0, 0%, 12%);
  --Gris900: hsl(0, 0%, 8%);
  --spacingmed: 1.714rem;
}

/****** Propriétés CSS par élément ***********/

/* Propriétés générales de la page */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--Gris900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 99vh;
}

/* Mise en place de Flexbox dans Main pour contrôler l'emplacement du contenu */
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* Création de la carte et mise en forme*/
.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.857rem;
  background-color: var(--Gris800);
  border-radius: 1.25rem;
  max-width: 384px;
  width: 20rem;
}

/* Mise en forme de la photo de Jessica */
.photo {
  width: 6.286rem;
  height: 6.286rem;
  border-radius: 71rem;
  margin-bottom: var(--spacingmed);
}

/* Mise en page du titre, le nom de Jessica */
h1 {
  color: var(--Blanc);
  font-size: 1.714rem;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0;
}

/* Mise en page du contexnu texte autre que le titre et les boutons */
p {
  font-size: 14px;
}

/* Mise en forme de la localisation */
.lieu {
  color: var(--Vert);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

/* Mise en forme de la brève présentation */
.bio {
  color: var(--Blanc);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/* Mise en page de la section des liens vers les réseaux sociaux */
.reseaux {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 1.143rem;
}

/* Mise en forme des boutons */
.bouton {
  border: none;
  border-radius: 0.571rem;
  background: var(--color-grey-700, #333);
  padding: 0.857rem;
  align-self: stretch;
  color: var(--Blanc);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

/* Mise en forme du pied de page */
footer {
  font-size: 11px;
  text-align: center;
  color: #d9d9d9;
}

/* Mise en forme des liens */
a {
  color: var(--Blanc);
  text-decoration: none;
}

/* Couleur des liens au survol */
a:hover {
  color: var(--Vert);
}

/****** Version mobile : résolution inférieure ou égale à 768px *********/

@media screen and (max-width: 768px) {
  /* Modification des marges intérieures de la carte */
  .carte {
    padding: 1.714rem;
  }
}
